<div class="container">
  <h2>Casino Games</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        {{#if SESS_USER.is_admin}}
        <th>Delete</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>


    {{#if SESS_USER.is_admin}}
      {{#each casinoGames}}
        <tr>
          <td><a href="/casinoGames/{{_id}}"> {{name}}</a></td>
          <td>
              <form method="POST" action="/casinoGames/{{_id}}">
                  <input type="hidden" name="id" value="{{_id}}">
                  <input class="btn btn-danger" type="submit" value="Delete {{name}}">
                  <!--If we don't at the Cross-Site Request Forgey token, this POST will be rejected-->
                  <input type="hidden" name="_csrf" value="{_csrf}">
                  <input type="hidden" name="_method" value="DELETE"> 
              </form>
          </td>
        </tr>
      {{/each}}

    {{else}}
      {{#each casinoGames}}
      <tr>
        <td><a href="/casinoGames/{{_id}}"> {{name}}</a></td>
      </tr>
      {{/each}}

    {{/if}}


    </tbody>
  </table>
  {{#if SESS_USER.is_admin}}
  <a href="/casinoGames/new" class="text-center new-casinoGame btn btn-primary">Create a casino Game </a>
  {{/if}}
</div>