<div class="container">
  <h2>{{user.first_name}} {{user.last_name}}</h2>
  <table class="table table-striped user-show-table">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Games</th>
        {{#if SESS_USER.is_admin}}
        <th>Admin?</th>
        <th>Edit</th>
        <th>Rank</th>
        <th>Hourly Rate</th>
        <th>Timesheet</th>
        <th>Send Email</th>
        <th>Delete</th>
        {{else if user.is_logged_in}}
        <th>Edit</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.username}}</td>
        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
        <td>{{user.phone}}</td>
        <td>
          <table class="table">
          {{#each user.games}}
            <tr><td><a href="/casinoGames/{{name}}">{{name}}</a></td></tr>
          {{/each}}
          </table>
        </td>
        {{#if SESS_USER.is_admin}}
        <td>{{user.is_admin}}</td>
        <td><a href="/users/{{user._id}}/update" class="btn btn-primary">Edit</a></td>
        <td>{{user.rank}}</td>
        <td>{{user.hourly_rate}}</td>
        <td><a href="/users/{{user._id}}/timesheet" class="btn btn-primary">Timesheet</a></td>
        <td><a href="/users/{{user._id}}/sendEmail" class="btn btn-primary" data-js="send-email-btn">Send Email</a></td>
        <td>
            <form method="POST" action="/user/{{user._id}}">
                <input type="hidden" name="id" value="{{user._id}}">
                <input class="btn btn-danger" type="submit" value="Delete">
                <!--If we don't at the Cross-Site Request Forgey token, this POST will be rejected-->
                <input type="hidden" name="_csrf" value="{_csrf}">
                <input type="hidden" name="_method" value="DELETE"> 
            </form>
        </td>
        {{else if user.is_logged_in}}
        <td><a href="/users/{{user._id}}/update" class="btn btn-primary">Edit</a></td>
        {{/if}}
      </tr>
    </tbody>
  </table>
</div>