<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"><h1>Edit User</h1></div>
</div>
<br>
<form method="POST" action="/users/{{user._id}}/update">
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="username-input" class="col-sm-2">Username</label>
        <div class="col-sm-6">
            <input type="text" name="username" class="form-control" id="username-input" value="{{user.username}}">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="make-admin-input" class="col-sm-2">Is Admin?</label>
        <div class="col-sm-6">
            {{#if user.is_admin}}
            <input type="checkbox" id="make-admin-input" name="is_admin" value="true" checked>&nbsp;Yes
            {{else}}
            <input type="checkbox" id="make-admin-input" name="is_admin" value="true">&nbsp;Yes
            {{/if}}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="is-active-input" class="col-sm-2">Is Active?</label>
        <div class="col-sm-6">
            {{#if user.active}}
            <input type="checkbox" id="is-active-input" name="active" value="true" checked>&nbsp;Yes
            {{else}}
            <input type="checkbox" id="is-active-input" name="active" value="true">&nbsp;Yes
            {{/if}}
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="first-name-input" class="col-sm-2">First Name</label>
        <div class="col-sm-6">
            <input type="text" name="first_name" class="form-control" id="first-name-input" value="{{user.first_name}}">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="last-name-input" class="col-sm-2">Last Name</label>
        <div class="col-sm-6">
            <input type="text" name="last_name" class="form-control" id="last-name-input" value="{{user.last_name}}">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="email-input" class="col-sm-2">Email</label>
        <div class="col-sm-6">
            <input type="email" name="email" class="form-control" id="email-input" value="{{user.email}}">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="phone-input" class="col-sm-2">Phone</label>
        <div class="col-sm-6">
            <input type="text" name="phone" class="form-control" id="phone-input" value="{{user.phone}}">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="game-input" class="col-sm-2">Games</label>
        <div class="col-sm-6">
            <select data-placeholder="Choose some games" class="chosen-select form-control" multiple name="games">
            <option value=""></option>
            {{#each selectedGames}}
                <option value={{_id}} selected>{{name}}</option>
            {{/each}}
            {{#each games}}
                <option value={{_id}}>{{name}}</option>
            {{/each}}
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>

    {{#if user.is_admin}}
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="rank-input" class="col-sm-2">Rank</label>
        <div class="col-sm-6">
            <input type="text" name="rank" class="form-control" id="rank-input" maxlength="1" placeholder="Rank" value="{{user.rank}}">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="hourly-rate-input" class="col-sm-2">Hourly Rate</label>
        <div class="col-sm-6">
            <input type="number" name="hourly_rate" class="form-control" id="hourly-rate-input" min="1" step="any" placeholder="Hourly Rate" value="{{user.hourly_rate}}">
        </div>
    </div>
    {{/if}}

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="password-input" class="col-sm-2">Password</label>
        <div class="col-sm-6">
            <input type="password" name="password" class="form-control" id="password-input" placeholder="Password - Leave blank to keep current password">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <button type="submit" class="btn btn-primary col-sm-6">Update User</button>
    </div>

</form>
