<div class="container">
  <h2>Users</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {{#each users}}
      <tr>
        <td><a href="/users/{{id}}"> {{first_name}}</a></td>
        <td>{{last_name}}</td>
        <td>{{username}}</td>
        <td><a href="mailto:{{email}}">{{email}}</a></td>
        <td>{{phone}}</td>
        <td><a href="/users/{{id}}/update" class="text-center btn btn-primary">Edit</a></td>
        <td>
            <form method="POST" action="/users/{{id}}/delete">
                <input type="hidden" name="id" value="{{id}}">
                <input class="btn btn-danger" type="submit" value="Delete {{first_name}}">
                <!--If we don't at the Cross-Site Request Forgey token, this POST will be rejected-->
                <input type="hidden" name="_csrf" value="{_csrf}">
                <input type="hidden" name="_method" value="DELETE"> 
            </form>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <a href="/users/new" class="text-center new-event btn btn-primary">Create User</a>
</div>
