<div class="container">
  <h2>Clients</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Events</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {{#each clients}}
      <tr>
        <td><a href="/clients/{{_id}}">{{first_name}}</a></td>
        <td>{{last_name}}</td>
        <td>{{email}}</td>
        <td><a class="btn btn-primary" href="/clients/{{_id}}/events" role="button">Events</a></td>
        <td>
            <form method="POST" action="/clients/{{_id}}">
                <input type="hidden" name="id" value="{{_id}}">
                <input type="submit" value="Delete">
                <!--If we don't at the Cross-Site Request Forgey token, this POST will be rejected-->
                <input type="hidden" name="_csrf" value="{_csrf}">
                <input type="hidden" name="_method" value="DELETE"> 
            </form>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
  <a class="btn btn-primary" href="/clients/new" role="button">New Client</a>
</div>