<table>
	<th>Game</th>
	<th>Dealer</th>
	<th>Set Dealer</th>
{{#each evtGames}}
	<tr>
		<td>{{game.name}}</td>
		<td>{{game.dealer.first_name}}</td>
		<td><button></button></td>
	</tr>
{{/each}}
</table>


<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"><h1>New Event</h1></div>
</div>
<br>
<form method="POST" action="/events/new">
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="event-name-input" class="col-sm-2">Event Name</label>
        <div class="col-sm-6">
            <input type="text" name="name" class="form-control" id="event-name-input" placeholder="Event Name" autofocus>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="client-input" class="col-sm-2">Waitlist</label>
        <div class="col-sm-6">
            <select name="client" data-placeholder="Choose a client" class="chosen-select form-control" id="client-input" placeholder="Client">
                <option value=""></option>
                {{#each waitlist}}
                    <option value="{{_id}}">{{first_name}} {{last_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <label class="col-sm-2">Games</label>
        <div class="col-sm-6">
            <table>
            {{#each games}}
                <td>
                    <div class="form-group">
                        <label for="{{_id}}">{{#gameName name}}{{/gameName}}</label>
                        <input type="number" data-game-id="{{_id}}" name="{{_id}}" class="form-control align-center" placeholder="#">
                    </div>
                    {{!-- <div class="form-group" hidden>
                        <label for="{{_id}}">{{#gameName name}}{{/gameName}}</label>
                        <input type="number" data-game-id="{{_id}}" name="{{_id}}" class="form-control align-center" placeholder="#">
                    </div> --}}
                </td>
            {{/each}}
            </table>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="workers-input" class="col-sm-2">Workers</label>
        <div class="col-sm-6">
            <select multiple data-placeholder="Choose some workers" class="form-control chosen-select" name="workers">
            <option value=""></option>
            {{#each workers}}
                <option value={{_id}}>{{first_name}} {{last_name}}</option>
            {{/each}}
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="event-hostname-input" class="col-sm-2">Main Contact</label>
        <div class="col-sm-6">
            <input type="text" name="hostname" class="form-control" id="event-hostname-input" placeholder="Name of main contact">
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-4"></div>
        <button type="submit" class="btn btn-primary col-sm-6">Create Event</button>
    </div>

</form>
