<div class="row container">
<div class="col-xs-12 align-center">
    <h2>Games for Event: {{event.name}}</h2>
</div>
</div>
<div class="row container event-games align-center">
    <div class="col-xs-12">
        <div class="row align-center">
            <div class="col-xs-3"><h3>Game</h3><hr></div>
            <div class="col-xs-3"><h3>Current Worker</h3><hr></div>
            <div class="col-xs-3"><h3>Available</h3><hr></div>
            <div class="col-xs-3"><h3>Assign Worker</h3><hr></div>
        </div>
    </div>
    <br>
    <div class="row container align-center">
        <div class="col-xs-12">
            {{#each evtGames}}
                <div class="row align-center">
                    <div class="col-xs-3">{{game.name}}</div>
                    <div class="col-xs-3">
                        <div class="col-xs-9 align-right">
                            <a href="/users/{{dealer._id}}">{{dealer.first_name}} {{dealer.last_name}}</a>
                        </div>
                        <div class="col-xs-3 align-left">
                            {{#if dealer}}
                            <form method="POST" action="/eventGame/{{_id}}/deleteDealer">
                                <input type="hidden" name="deleteDealer" value={{dealer._id}}>
                                <input class="btn btn-danger" type="submit" value="x">
                                <input type="hidden" name="_csrf" value="{_csrf}">
                                <input type="hidden" name="_method" value="DELETE"> 
                            </form>
                            {{/if}}
                        </div>


                    </div>
                    <div class="col-xs-6">
                        <form method="POST" action="/eventGame/{{_id}}/addDealer">
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <select name="dealer" data-placeholder="Choose a client" class="chosen-select form-control" id="dealer-input" placeholder="Dealers">
                                        <option value=""></option>
                                        {{#each ../waitlist}}
                                            <option value="{{_id}}">{{first_name}} {{last_name}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                            {{!-- <button type="submit">Assign</button> --}}
                            <div class="col-xs-6"><button type="submit">Assign</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>