<div class="container">
  <h2>{{event.name}} </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>When</th>
        <th>Name</th>
        <th>Description</th>
        <th><a href="/events/{{event._id}}/games">Games</a></th>
        <th>Workers</th>
        {{#if SESS_USER.is_logged_in}}
        <th>Join Waitlist</th>
        <th>Leave Waitlist</th>
        {{/if}}
        {{#if SESS_USER.is_admin}}
        <th>Waitlist</th>
        <th>Client</th>
        <th>Hostname</th>
        <th>Delete</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{moment event.start_date "ddd, M/D h:mm A"}} - {{moment event.end_date "h:mm A"}}</td>
        <td>{{event.name}}</td>
        <td>{{event.description}}</td>
        <td>
          <table id="event-game-list">
            {{#gameCount event}}{{/gameCount}}
          </table>
        </td>
        <td>
          <table>
            {{#each event.workers}}
            <tr><td>{{first_name}} {{last_name}}</td></tr>
            {{/each}}
            </table>
        </td>
        {{#if SESS_USER.is_logged_in}}
        <td>
            <a href="/events/{{event._id}}/addToWaitlist/{{SESS_USER._id}}">
                <button type="button" data-waitlist-worker="{{SESS_USER._id}}" data-waitlist-event="{{_id}}" class="btn btn-primary">Join Waitlist</button>
            </a>
        </td>
        <td>
            <a href="/events/{{event._id}}/removeFromWaitlist/{{SESS_USER._id}}">
                <button type="button" data-waitlist-worker="{{SESS_USER._id}}" data-waitlist-event="{{_id}}" class="btn btn-primary">Leave Waitlist</button>
            </a>
        </td>
        {{/if}}
        {{#if SESS_USER.is_admin}}
        <td>
            <table>
                {{#each event.waitlist}}
                <tr><td>{{first_name}} {{last_name}}</td></tr>
                {{/each}}
            </table>
        </td>
        <td>{{event.client.first_name}}</td>
        <td>{{event.hostname}}</td>
        <td>
            <form method="POST" action="/events/{{_id}}">
                <input type="hidden" name="id" value="{{_id}}">
                <input type="submit" value="Delete">
                <!--If we don't at the Cross-Site Request Forgey token, this POST will be rejected-->
                <input type="hidden" name="_csrf" value="{_csrf}">
                <input type="hidden" name="_method" value="DELETE"> 
            </form>
        </td>
        {{/if}}
      </tr>
    </tbody>
  </table>
</div>