<div class="container">
  <h2>Events</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Client</th>
        <th>Games</th>
        <th>Workers</th>
        {{#if SESS_USER.is_admin}}
        <th>Waitlist</th>
        <th>Delete</th>
        {{else}}
          {{#if SESS_USER}}
            <th>Waitlist</th>
          {{/if}}
        {{/if}}
      </tr>
    </thead>
    <tbody>
    {{#each events}}
      <tr id="event-row">
        <td id="event-name"><a href="/events/{{_id}}"> {{name}}</a></td>
        {{!-- <td>{{moment(event.start_date)}}</td>
        <td>{{moment(event.end_date)}}</td> --}}
        <td id="event-start-date">
          <table>
            <tr><td>{{moment start_date "ddd, M/D/YYYY"}}</td></tr>
            <tr><td>{{moment start_date "h:mm A"}}</td></tr>
          </table>
        </td>
        {{!-- <td id="event-start-date">{{start_date}}</td> --}}
        <td id="event-end-date">
          <table>
            <tr><td>{{moment end_date "ddd, M/D/YYYY"}}</td></tr>
            <tr><td>{{moment end_date "h:mm A"}}</td></tr>
          </table>
        </td>
        {{!-- <td id="event-end-date">{{end_date}}</td> --}}
        <td id="event-client"><a href="/users/{{_id}}">{{client.first_name}}</a></td>
        <td id="event-games">
          <table id="event-games-table">
            {{#each games}}
            <tr id="event-game-row"><td id="event-game"><a href="/casinoGames/{{name}}">{{name}}</a></td></tr>
            {{/each}}
          </table>
        </td>
         <td id="event-workers">
          <table id="event-workers-table">
            {{#each workers}}
            <tr id="event-worker-row"><td id="event-worker"><a href="/users/{{_id}}">{{first_name}} {{last_name}}</a></td></tr>
            {{/each}}
            
            </table>
        </td>
        {{#if ../SESS_USER.is_admin}}
        <td>
          <table id="event-waitlist">
            {{#each waitlist}}
              <tr><td>{{first_name}} {{last_name}}</td></tr>
            {{/each}}
            <tr>
              <td>
                <a href="/events/{{_id}}/addToWaitlist/{{../SESS_USER._id}}">
                  <button type="button" data-waitlist-worker="{{../SESS_USER._id}}" data-waitlist-event="{{_id}}" class="btn btn-primary">
                    Join Waitlist
                  </button>
                </a>
              </td>
            </tr>
          </table>
        </td>
        <td>
            <form method="POST" action="/events/{{_id}}/delete">
                <input type="hidden" name="id" value="{{_id}}">
                <input type="submit" value="Delete">
                <!--If we don't at the Cross-Site Request Forgey token, this POST will be rejected-->
                <input type="hidden" name="_csrf" value="{_csrf}">
                <input type="hidden" name="_method" value="DELETE"> 
            </form>
        </td>
        {{else}}
          {{#if ../SESS_USER}}
            <td>
              <table>
                <tr>
                  <td>
                    <a href="/events/{{_id}}/addToWaitlist/{{../SESS_USER._id}}">
                      <button type="button" data-waitlist-worker="{{../SESS_USER._id}}" data-waitlist-event="{{_id}}" class="btn btn-primary">
                        Join Waitlist
                      </button>
                    </a>
                  </td>
                </tr>
              </table>
            </td>
          {{/if}}
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{#if SESS_USER.is_admin}}
    <a href="/events/new" class="text-center new-event btn btn-primary">Create an Event </a>
  {{/if}}
</div>