<div class="container">
  <h1>{{SESS_USER.is_admin}}</h1>
  <h2>Events</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Start</th>
        <th>End</th>
        <th>Client</th>
        <th>Games</th>
        <th>Workers</th>
        {{#if SESS_USER.is_admin}}
        <th>Delete</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
    {{#each events}}
      <tr>
        <td><a href="/events/{{_id}}"> {{name}}</a></td>
        {{!-- <td>{{moment(event.start_date)}}</td>
        <td>{{moment(event.end_date)}}</td> --}}
        <td>{{start_date}}</td>
        <td>{{end_date}}</td>
        <td><a href="/users/{{_id}}">{{client.first_name}}</a></td>
        <td>
          <table>
            {{#each games}}
            <tr><td><a href="/casinoGames/{{name}}">{{name}}</a></td></tr>
            {{/each}}
          </table>
        </td>
         <td>
          <table>
            {{#each workers}}
            <tr><td><a href="/users/{{_id}}">{{first_name}} {{last_name}}</a></td></tr>
            {{/each}}
            {{#if ../SESS_USER}}
            <tr><td><button type="button" data-waitlist-worker="{{../SESS_USER.id}}" data-waitlist-event="{{_id}}" class="btn btn-primary">Join Waitlist</button></td></tr>
            {{/if}}
            </table>
        </td>
        {{#if ../SESS_USER.is_admin}}
        <td>
            <form method="POST" action="/events/{{_id}}">
                <input type="hidden" name="id" value="{{_id}}">
                <input type="submit" value="Delete">
                <!--If we don't at the Cross-Site Request Forgey token, this POST will be rejected-->
                <input type="hidden" name="_csrf" value="{_csrf}">
                <input type="hidden" name="_method" value="DELETE"> 
            </form>
        </td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>
  {{#if SESS_USER.is_admin}}
    <a href="/events/new" class="text-center new-event btn btn-primary">Create an Event </a>
  {{/if}}
</div>