<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-6"><h1>New Event</h1></div>
</div>
<br>
<form method="POST" action="/events/new">
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="event-name-input" class="col-sm-2">Event Name</label>
        <div class="col-sm-6">
            <input type="text" name="name" class="form-control" id="event-name-input" placeholder="Event Name" autofocus>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="description-input" class="col-sm-2">Description</label>
        <div class="col-sm-6">
            <input type="textarea" name="description" class="form-control" id="description-input" placeholder="What's goin on?">
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="start-date-input" class="col-sm-2">Start</label>
        <div class="col-sm-3">
            <input type="date" name="start_date_date" class="form-control" id="start-date-input">
        </div>
        <div class="col-sm-3">
            <input type="time" name="start_date_time" class="form-control" id="start-date-input">
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="end-date-input" class="col-sm-2">End</label>
        <div class="col-sm-3">
            <input type="date" name="end_date_date" class="form-control" id="end-date-input">
        </div>
        <div class="col-sm-3">
            <input type="time" name="end_date_time" class="form-control" id="end-date-input">
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="location-input" class="col-sm-2">Location</label>
        <div class="col-sm-6">
            <input type="text" name="location" class="form-control" placeholder="Full location address. Ex: 123 Fake St, Unrealtown, IL 66666" id="location-input">
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="client-input" class="col-sm-2">Client</label>
        <div class="col-sm-6">
            <select name="client" data-placeholder="Choose a client" class="chosen-select form-control" id="client-input" placeholder="Client">
                <option value=""></option>
                {{#each clients}}
                    <option value="{{_id}}">{{first_name}} {{last_name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="game-input" class="col-sm-2">Games</label>
        <div class="col-sm-6">
            <select data-placeholder="Choose some games" class="chosen-select form-control" name="games" multiple>
            <option value=""></option>
            {{#each games}}
                <option value={{_id}}>{{name}}</option>
            {{/each}}
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="workers-input" class="col-sm-2">Workers</label>
        <div class="col-sm-6">
            <select multiple data-placeholder="Choose some workers" class="form-control chosen-select" name="workers">
            <option value=""></option>
            {{#each workers}}
                <option value={{_id}}>{{first_name}} {{last_name}}</option>
            {{/each}}
            </select>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="event-hostname-input" class="col-sm-2">Main Contact</label>
        <div class="col-sm-6">
            <input type="text" name="hostname" class="form-control" id="event-hostname-input" placeholder="Name of main contact">
        </div>
        <div class="col-sm-2"></div>
    </div>

    {{!-- <div class="form-group row">
        <div class="col-sm-2"></div>
        <label for="num-employees-input" class="col-sm-2"># of Employees</label>
        <div class="col-sm-6">
            <input type="text" name="num_employees" class="form-control" id="num-employees-input" placeholder="# of Employees">
        </div>
        <div class="col-sm-2"></div>
    </div> --}}

    <div class="row">
        <div class="col-sm-4"></div>
        <button type="submit" class="btn btn-primary col-sm-6">Create Event</button>
    </div>

</form>
