<div class="container">
  <h2>Companies</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Representative</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{company.name}}</td>
        <td><a href="/users/{{company.representative._id}}">{{company.representative.first_name}} {{company.representative.last_name}}</a></td>
        <td>
            <form method="POST" action="/companies/{{company._id}}">
                <input type="hidden" name="id" value="{{company._id}}">
                <input type="submit" value="Delete">
                <!--If we don't at the Cross-Site Request Forgey token, this POST will be rejected-->
                <input type="hidden" name="_csrf" value="{_csrf}">
                <input type="hidden" name="_method" value="DELETE"> 
            </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>