<div class="calendar-container">
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-8">
			<div class="row cal-month">
				<div class="col-sm-3 align-left">
					<button type="button"><a href="/calendar/{{dateObj.lastMonthYear}}/{{dateObj.lastMonth}}">Prev</a></button>
				</div>
				<div class="col-sm-6 align-center">
					<h2>{{dateObj.thisMonth}} {{dateObj.thisYear}}</h2>
				</div>
				<div class="col-sm-3 align-right">
					<button type="button"><a href="/calendar/{{dateObj.nextMonthYear}}/{{dateObj.nextMonth}}">Next</a></button>
				</div>
			</div>


			{{!-- <table class="cal-month align-center">
				<tr>
					<td><button type="button"><a href="/calendar/{{dateObj.lastMonthYear}}/{{dateObj.lastMonth}}">Prev</a></button></td>
					<td><h2>{{dateObj.thisMonth}} {{dateObj.thisYear}}</h2></td>
					<td><button type="button"><a href="/calendar/{{dateObj.nextMonthYear}}/{{dateObj.nextMonth}}">Next</a></button></td>
				</tr>
			</table> --}}
			<div class="row cal-row">
				<table class="calendar">
					<tr class="cal-head align-center">
						<td>Su</td>
						<td>Mo</td>
						<td>Tu</td>
						<td>We</td>
						<td>Th</td>
						<td>Fr</td>
						<td>Sa</td>
					</tr>
					{{{calendarHtml}}}
				</table>
			</div>
		</div>
		<div class="col-sm-2"></div>
	</div>
</div>